<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gif App</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="GifController">
      <h3>Submit a Gif</h3>
    
      <form ng-submit="addGif(gif)">
        <label class="label">Title</label>
        <p class="control">
          <input class="input" type="text" ng-model="gif.name" ng-blur="validateName(gif.name)">
          <span>{{ errors.name }}</span>
        </p>

        <label class="label">URL</label>
        <p class="control">
          <input class="input" type="text" ng-model="gif.url" ng-keyup="validateURL(gif.url)">
          <span>{{ errors.url }}</span>
        </p>

        <p class="control">
          <button>Submit</button>
          <span>{{ errors.submit }}</span>
        </p>
      </form>

      <div class="list">
        <h3>Gif List</h3>

        <ul>
          <li ng-repeat="gif in gifs">
            <h2>{{ gif.name }}</h2>
            <p>{{ gif.email }}</p>
            <p>{{ gif.message }}</p>
            <img src="{{ gif.url }}" />
            <button ng-click="deleteGif(gif)">Delete</button>
          </li>
        </ul>
      </div>
      
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
